﻿<link href="~/Assets/vendor/jquery-datatable/jquery.dataTables.1.10.19.min.css" rel="stylesheet" />
<link href="~/Assets/vendor/icomoon/style.css" rel="stylesheet" />
<link href="~/Assets/css/main.css" rel="stylesheet" />

<script src="~/Assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="~/Assets/vendor/jquery-datatable/jquery.dataTables.1.10.19.min.js"></script>
<script src="~/Assets/vendor/jquery-datatable/dataTables.scroller.1.5.1.min.js"></script>
<script src="~/Assets/js/main.js" async defer></script>



<div class="grid-container-3-3 main-content">
    <div class="time-wrapper grid-container-3-3">
        <div id="clock" class="hidden">
            <div class="menu">
                <div class="icon-cog"></div>
                <div class="list">
                    <ul class="actions">
                        <li>
                            <i class="icon-list"></i>
                            <button type="button" class="time-drawer-toggle">Toggle Time Table</button></li>
                        <li>
                            <i class="icon-earth"></i>
                            <select id="timezones">
                            @foreach (var item in @ViewData["Timezones"] as List<Clockwork.Web.Models.Timezone>)
                            {
                                <option value="@item.Id">@item.DisplayName</option>
                            }
                            </select>
                        </li>
                    </ul>
                    <div class="info-message">Click the clock to update it.</div>
                </div>
            </div>
            <div class="display">
                @ViewData["CurrentTime"]
            </div>
        </div>
    </div>
</div>

<div class="time-drawer">
    <i class="icon-loop2 refresh"></i>
    <i class="icon-cross close"></i>
    <div class="scroll-wrap">
        <table id="time-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Time</th>
                    <th>Client IP</th>
                    <th>UTC Time</th>
                    <th>Timezone</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>
