﻿html {
    background: #fffcf2;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

@font-face {
    font-family: "digital-7";
    src: url(/Assets/vendor/fonts/digital-7/digital-7.ttf) format("truetype");
}

#clock {
    display: inline-block;
    position: relative;
    padding: 0.1em 0.3em;
    color: red;
    background: #151515;
    border-radius: 12px;
    font-family: digital-7;
    cursor: pointer;
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: background 230ms;
}
#clock:not(.show-menu):active {
    background: #3f0d0d;
}

#clock .display {
    font-size: 12em;
}

#clock .menu {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 1em;
    height: 1em;
    padding: 0;
    margin: 0;
}

#clock .icon-cog {
    transform: rotateZ(0);
    transition: transform 300ms;
}
#clock.show-menu .menu .icon-cog {
    transform: rotateZ(90deg);
}

#clock .menu .actions {
    list-style: none;
    margin: 0;
    text-align: left;
}

#clock .actions li {
    padding: 0.3em;
}

#clock .menu .list {
    position: relative;
    left: -30em;
    width: 30em;
    height: auto;
    background: snow;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform: translate3d(0,0,0) scaleX(0) scaleY(0);
    transition: transform 200ms;
    transform-origin: top right;
    border-radius: 7px;
    padding: 1em 0;
}

#clock .list i {
    color: black;
}

#clock.show-menu .menu .list {
    transform: translate3d(0,0,0) scaleX(1) scaleY(1);
    z-index: 1;
}

#clock .info-message {
    font-family: Arial;
    color: black;
    padding-top: 1ex;
    font-style: italic;
}

.grid-container-3-3 {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}

.main-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.hidden {
    visibility: hidden;
}

.time-wrapper {
    text-align: center;
    grid-column: 2;
    grid-row: 2;
}

.time-drawer {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 2em;
    border-radius: 5px;
    background: snow;
    height: 70%;
    width: 80%;
    max-width: 62.5em;
    z-index: 11;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: transform 500ms;
    transform: translateY(-200%) translateX(-50%);
}

.time-drawer.show {
    transform: translateY(-50%) translateX(-50%);
}

.time-drawer .scroll-wrap {
    overflow-y: auto;
    height: 100%;
}

/* TODO: Iconst should have been in div menu with flex layout. */
.time-drawer .close {
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 1.5em;
    cursor: pointer;
}
.time-drawer .refresh {
    position: absolute;
    right: 2.1em;
    top: 2px;
    font-size: 1.5em;
    cursor: pointer;
}

/* Full */
@media (min-width: 1200px) {
    #clock .display {
        font-size: 16em;
    }
}

/* Large */
@media (max-width: 900px) {
    #clock .display {
        font-size: 8em;
    }
}

/* Medium */
@media (max-width: 800px) {
    #clock .display {
        font-size: 7em;
    }
}

/* Small */
@media (max-width: 600px) {
    #clock .display {
        font-size: 5.1em;
    }

    #clock .menu .list {
        position: fixed;
        left: 10%;
        width: 80%;
    }

    #timezones,
    #timezones option
    {
        width: 90%;
    }

    .time-drawer {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

}

/* Extra small */
@media (max-width: 400px) {
    #clock .display {
        font-size: 4em;
    }
}
